@keyframes loadingAnimation {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.ai-section {
  margin-bottom: 30px;
}

.ai-section_title {
  font-size: 32px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 15px;
}

.ai-section_descr {
  font-size: 22px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 60px;
}

.ai-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 30px 0 55px;
  padding: 0;
}

.ai-list li {
  display: flex;
  flex-grow: 1;
  margin: 0 10px 50px;
  flex-basis: calc(33.33% - 20px);
  min-width: calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
}

.ai-list li.animated {
  animation: loadingAnimation 0.2s 0.1s ease-out forwards;
  opacity: 0;
  transform: translateY(-10px);
}

.ai-list li > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  padding-left: 12px;
}

.ai-list_number {
  font-size: 22px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  max-width: 35px;
  min-width: 35px;
  padding-right: 15px;
}

.ai-list_image {
  width: 82px;
  height: 82px;
  min-width: 82px;
  border-radius: 50%;
  overflow: hidden;
}

.ai-list_no-image {
  width: 82px;
  height: 82px;
  min-width: 82px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #9e9898;
}

.ai-list_text {
  padding-left: 25px;
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.ai-list_name {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 10px;
}

.ai-list_descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #828181;
  margin: 0;
}

.show-button {
  text-align: center;
  margin: -5px auto 50px;
}

@media (max-width: 1320px) {
  .ai-list {
    margin: 0;
  }

  .ai-list li {
    flex-basis: calc(50% - 20px);
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 980px) {
  .ai-list li {
    min-width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  .ai-list li > a {
    padding-left: 4px;
  }

  .ai-list li {
    flex-basis: 100%;
    margin: 0 0 30px;
  }
}
