@import 'src/utils/colors.css';

@keyframes showBackground {
  0% {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.side-bar_background {
  display: none;
}

.side-bar_navigation {
  display: none;
}

@media (max-width: 767px) {
  .side-bar {
    position: fixed;
    top: 0;
    left: -340px;
    width: 340px;
    min-width: 340px;
    max-width: 340px;
    height: 100%;
    background: #f4eeea;
    background: var(--beige);
    z-index: 11;
    transition: all 0.3s 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); /* easing: outQuart */
  }

  .side-bar.side-bar__open {
    transform: translate3d(340px, 0, 0);
  }

  .side-bar.side-bar__open + .side-bar_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: #ddd7d1;
    background: var(--darkBeige2);
    display: block;
    animation: showBackground 0.1s 0.1s linear forwards;
    opacity: 0;
  }

  .side-bar_navigation {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: auto;
    display: block;
    z-index: 15;
    background: #f4eeea;
    background: var(--beige);
    justify-content: space-between;
    padding: 0 1rem;
  }

  .side-bar_navigation > a {
    display: none;
  }

  .side-bar_navigation > div span {
    color: black;
    margin-left: 0.5rem;
  }

  .side-bar_navigation > div svg path {
    fill: black;
  }

  .side-bar_navigation > div button {
    border: 1px solid black !important;
    background: #f4eeea;
    background: var(--beige);
    color: black;
    margin: 0;
  }
}
