.conversation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex: 1 1;
  gap: 0.5rem;
  width: 100%;
}

.conversation.conversation__offset {
  margin-bottom: 1rem;
}
