@import 'src/utils/colors.css';

.bot {
  margin-bottom: 1.5rem; /* 24px */
  padding: 0 1.5rem; /* 24px to rem */
}

.identity {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.25rem; /* 20px */
}

.logo {
  display: none;
}

.logo svg path {
  fill: black;
}

.card {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card_close {
  display: none;
}

.card_close path {
  fill: black;
}

.card_descr {
  margin-left: 10px;
  min-width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.card img {
  width: 44px;
  min-width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 7px;
}

.card h2 {
  font-size: 1.375rem; /* 22px */
  font-weight: 400;
  line-height: 1;
  padding: 0;
  margin: 5px 0 10px;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: left;
  color: #818181;
  padding: 0;
  margin: 0;
}

.share-chat {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .bot {
    position: absolute;
    left: 0;
    right: 0;
    background: #f4eeea;
    background: var(--beige);
    padding: 1rem;
    margin: 0;
    z-index: 6;
  }

  .card {
    margin-bottom: 1rem;
  }

  .identity {
    display: none;
  }

  .logo {
    display: block;
  }

  .card_select {
    display: none;
  }

  .card_close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    box-sizing: border-box;
    background: none;
    border: 0 none;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .card_close svg {
    width: 15px;
    height: 15px;
  }

  .bot .new-chat {
    display: none;
  }

  button.share-chat {
    border: 1px solid black !important;
    background: #f4eeea;
    background: var(--beige);
    color: black;
  }
}
