@import 'src/utils/colors.css';

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.message {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-end;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 0.2rem;
  width: 100%;
  min-width: 100%;
  height: auto;
  font-size: 1.125rem; /* 18px */
  overflow: hidden;
}

.message.message_typing::after {
  content: '';
  position: absolute;
  left: 60px;
  top: 12px;
  background: #2b2b2b;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  animation: pulse 1s infinite ease-in-out;
}

.message.message_typing .message-text {
  display: none;
}

.message-logo {
  display: block;
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  overflow: hidden;
  border-radius: 50%;
}

.message-logo img {
  display: block;
  max-width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.message-text {
  position: relative;
  width: calc(100% - 42px - 1rem);
  word-wrap: break-word;
  margin-top: 10px;
  z-index: 3;
}

.message-text__file {
  display: flex;
}

.message-text__file-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--gray2);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  user-select: none;
}

.message-text__file-content span {
  opacity: 0.8;
}

.message-text__file span svg {
  display: inline;
  margin-right: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .message-text__file-content {
    background: #ddd7d1;
  }

  .message-text__file-content path {
    fill: black;
  }
}
