.previous-chats {
  position: relative;
  height: 100%;
  min-height: 10rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 1.5rem; /* 24px to rem */
}

.previous-chats_section {
  margin-bottom: 1.5rem;
}

.previous-chats_title {
  font-size: 0.875rem; /* 14px */
  line-height: 1rem;
  color: #818181;
  padding: 0;
  margin: 0 0 20px;
}

.previous-chats_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.previous-chats_list li {
  position: relative;
}


@media (max-width: 767px) {
  .previous-chats {
    padding-top: 137px;
  }
}